/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* button animation */

.button {
  border-radius: 4px;
  background-color: #e02c6d;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  width: 168px;
  transition: all 0.5s;
  cursor: pointer;
  /* margin: 5px; */
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 15px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* end button animation */

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem; */
  background-color: #2d25a0;
  height: 677px;
  /* justify-content: center;
  align-items: center; */
}

.home-data {
  margin-left: 156px;
  margin-right: 102px;
}

/* .home-data i {
  margin-left: 10px;
}
.home-data a {
  text-decoration: none;
  background-color: #e02c6d;
  padding: 10px 20px;
  text-align: center;
  color: #ffffff;
} */
.home-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  width: 485px;
  height: 230px;
  margin-bottom: 27px;
}

.home-img {
  width: 556px;
  height: 438px;
  margin-right: 140px;
}

/* .home img {
  width: 100%;
  padding: 10px;
} */

/* grid-section */

.players-card {
  width: 1050px;

  margin: 70px auto;
}

.players-card img {
  width: 100%;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.grid-item {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  width: 300px;
  height: 444px;
  padding: 15px;
}

.grid-item h1 {
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;
  text-align: left;
  color: #18191f;
  font-style: normal;
}

.grid-item img {
  width: 300px;
  height: 256px;
}

.grid-item p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.featured-videos {
  width: 80%;
  margin: 40px auto;
}

.video-container {
  display: flex;
  justify-content: center;
  /* justify-content: center;
  align-items: center; */
}

.video-item {
  box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.15);
  margin: 1%;
  /* width: 450px; */
  overflow: hidden;

  position: relative;
}
/* 
.video-item h1 {
  color: #dc0714;
  padding: 15px;
  margin: 0;
} */

.video-item p {
  margin: 0;
}

.video-category {
  color: #dc0714;
  padding: 5px;
  text-transform: uppercase;
}

.video-title {
  padding: 5px;
}

.video-date {
  padding: 5px;
}

.video-item img {
  width: 100%;
}

.play {
  position: absolute;
  visibility: hidden;
  /* opacity: 0; */
  top: 20%;
  width: 40px;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  z-index: 100;
}

.video-item:hover .play-video {
  transform: scale(1.05);
  transition: 1s transform;

  /* opacity: 1; */
}

.video-item:hover .play {
  visibility: visible;

  /* opacity: 1; */
}

/* .video-item p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
} */

/* news-section */

.latest-news {
  width: 80%;
  margin: 70px auto;
}

.news-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.news-item {
  display: flex;
  background-color: #fef8f8;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  width: 450px;
}

.news-thumbnail {
  margin-right: 10px;
}
.news-details {
  padding: 15px;
}

.news-details span {
  color: red;
}
.news-headline {
  margin: 0;
}

.footer {
  height: 213px;
  width: 484px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 63px;
}

.social-icon {
  width: 170px;
  height: 32px;
  display: flex;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
}

.social-icon i {
  margin-right: 14px;
}

.footer img {
  width: 484px;
  height: 110px;
}

.footer p {
  width: 236px;
  height: 32px;
  text-align: center;
}

@media only screen and (max-width: 688px) {
  .home {
    flex-direction: column;
    width: 100%;
    height: 695px;
  }

  .home-title {
    font-size: 36px;
    line-height: 50px;
    width: 278px;
    height: 138px;
    /* margin-left: 16px; */
    margin-bottom: 30px;
    margin-top: 112px;
  }

  .home-data {
    margin-left: 16px;
    margin-right: 66px;
  }

  .home-img {
    width: 329px;
    height: 259px;
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 62px;
    margin-top: 50px;
  }
  .home-img img {
    width: 100%;
  }

  /* grid responsive */
  .players-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin-left: 15px;
    margin-right: 15px; */
  }

  .grid-container {
    display: flex;
    flex-direction: column;
  }

  .footer {
    margin-bottom: 187px;
  }

  .footer img {
    width: 150px;
    height: 63px;
  }

  .video-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .video-item {
    margin: 3%;
    /* overflow: hidden; */
  }

  .video-item img {
    width: 100%;
    height: 100%;
  }

  .featured-videos {
    width: 70%;
  }

  .video-item:hover .play-video {
    transform: scale(1.05);
    transition: 1s transform;

    /* opacity: 1; */
  }

  .news-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
  .news-item {
    width: 400px;
  }
  .latest-news {
    width: 80%;
    /* justify-content: center;
    align-items: center; */
  }

  .section-title {
    text-align: center;
  }
}

@media only screen and (min-width: 688px) and (max-width: 992px) {
  .home {
    width: 100%;
    height: 500px;
  }

  .home-title {
    font-size: 36px;
    line-height: 50px;
    width: 278px;
    height: 138px;

    margin-bottom: 30px;
    margin-top: 112px;
  }

  .home-data {
    margin-left: 50px;
    margin-right: 50px;
  }

  .home-img {
    width: 400px;
    height: 259px;
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 62px;
    margin-top: 50px;
  }
  .home-img img {
    width: 100%;
  }

  .players-card {
    width: 100%;
    margin: 70px auto;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 330px);
    justify-content: center;
    align-items: center;
  }

  .play {
    top: 8%;
  }

  .news-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
  .news-item {
    width: 400px;
  }
  .latest-news {
    width: 80%;
    /* justify-content: center;
    align-items: center; */
  }
  .section-title {
    text-align: center;
  }
}
